/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/js
/public/css
/public/vendor/filament-phone-input
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/*
!storage/framework/cache/.gitkeep
!storage/framework/cache/data
/storage/framework/cache/data/*
!storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
/storage/framework/testing/*
!storage/framework/testing/.gitkeep
/storage/framework/views/*
!storage/framework/views/.gitkeep
/storage/logs/*
!storage/logs/.gitkeep
/storage/installed
/storage/installer.lock
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
